.amount {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
}

.amount > img{
  width: 18px;
  height: 18px;
}

.amount-display {
  font-size: 1.5rem;
}

input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

img {
  cursor: pointer;
}