.Cart {
  display: grid;
  grid-template-rows: 150px 3fr 120px;
  background-color: #f8f5f2;
  color: black;
}

.empty-cart {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #f8f5f2;
  color: black;
  font-family: 'Montserrat';
  font-size: 1.4rem;
}

.empty-cart > h1 {
  background-color: rgba(207, 42, 56, 1);
  color: white;
  padding: 20px;
}

.empty-cart > a > button {
  appearance: none;
  background-color: white;
  border: 3px solid black;
  padding: 10px 40px;
  font-family: 'Sofia Sans';
  font-size: 1.3rem;
  font-weight: bolder;
}

.empty-cart > a > button:hover {
  cursor: pointer;
  background-color: black;
  color: white;
  border: 3px white solid;
}

.top {
  width: 58%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Montserrat';
  font-weight: bolder;
  line-height: 10px;
  font-size: 2.4rem;
  padding-top: 10px;
}

.middle {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.heading {
  display: grid;
  grid-template-columns: 2fr 2fr 1fr 1fr 1fr 50px;
  align-items: center;
  justify-items: center;
  width: 75%;
  background-color: black;
  color: white;
  margin-bottom: 30px;
  padding: 0 20px;
}

.item-container {
  width: 75%;
  display: flex;
  flex-direction: column;
  flex-flow: column;
  overflow: auto;
}

.item {
  display: grid;
  grid-template-columns: 2fr 2fr 1fr 1fr 1fr 50px;
  align-items: center;
  justify-items: center;
  background-color: #f2eeeb;
  margin-bottom: 20px;
  padding: 20px 20px;
  font-family: 'Montserrat';
  font-size: 1.2rem;
}

.item-heading {
  display: flex;
  flex-direction: column;
  font-family: 'Montserrat';
  font-size: 1.2rem;
  font-weight: bolder;
}

.item-name {
  font-family: 'valorant';
  font-size: 1.4rem;
}

.item-image {
  width: 250px;
  height: 100px;
}

.bottom {
  display: flex;
  align-items: center;
  font-family: 'Ubuntu', sans-serif;
  font-size: 1.7rem;
  width: 100%;
}

.total-amount-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 42%;
}

.buttons-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 40%;
  overflow: hidden;
}

.buttons-container > a > button {
  appearance: none;
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid black;
  padding: 10px 40px;
  font-family: 'Sofia Sans';
  font-size: 1.2rem;
  font-weight: bolder;
  margin: 20px;
  border-radius: 5px;
}

.buttons-container > a > button:hover {
  background-color: black;
  color: white;
  cursor: pointer;
}

.total-amount {
  margin-left: 30px;
  padding: 5px 20px;
  font-family: 'Sofia Sans';
  background-color: black;
  color: white;
  font-size: 1.4rem;
}
