.Footer {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 40px;
  color: white;
}

.Footer-shop {
  background-color: #a555ec;
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  color: black;
}
