.Footer {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 40px;
  color: white;
  background-image: linear-gradient(35deg, rgba(255, 70, 86, 0.933), #0a141eee 80%);
}

 .Footer-shop {
} 

a {
  text-decoration: none;
  color: white;
}

a:hover {
  color: black;
}
