.Header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.Header-shop {
  background-image: linear-gradient(35deg, rgba(255, 70, 86, 0.933), #0a141eee 80%);
}

.destiny_logo {
  width: 64px;
  height: 48px;
  margin-right: 10px;
}

.title {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'valorant';
  font-size: 2rem;
  width: 50%;
}

.title > a {
  text-decoration: none;
}

.links {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  font-family: 'Sofia Sans', sans-serif;
  font-size: 1.2rem;
}

.links > a {
  text-decoration: none;
  padding: 10px;
  margin: 20px;
}

.links > a:hover {
  border-bottom: 2px white solid;
  color: white;
}

.active-link {
  border-bottom: 2px white solid;
}
