.App {
  height: 100vh;
  display: grid;
  grid-template-rows: minmax(60px, 90px) 1fr minmax(60px, 8px);
  background: linear-gradient(35deg, #ff4656ee, #0a141eee 80%), url(./images/hero-bg.jpg) center no-repeat;
  color: white;
}
